

/*IPHONE X/XS*/ /*IPHONE X/XS*/ /*IPHONE X/XS*/ /*IPHONE X/XS*/


@media screen and (max-width: 420px){
    
    .color{
        background-color: rgb(0, 0, 0);
        width: 7%;
        height: 100%;
    
    }
}  

.icon-size{

    height: 30px;
    margin-top: 15px;
    
}

@media screen and (max-width: 420px){
    
    .icon-size{

        height: 30px;
        margin-top: 15px;
        
    }
} 

@media screen and (max-width: 420px){
    
    #download{

        height: 20px;
        margin-left: 30%;
        margin-bottom: 20%;
    
    }
}

@media screen and (max-width: 420px){
    
    #profile{

        height: 45%;
        width: 70%;
        background-color: rgb(194, 194, 194);
        border-radius: 50%;
        margin-left: 17%;
        margin-bottom: 10%;
        
        
    }
}

@media screen and (max-width: 420px){
    
    .upgrade{

        font-size: 12px;
        margin-left: 40%;
        margin-top: 8%;
        padding: 10px;
        border-radius: 20px;
        width: 50%;
        
        
    
    }
}

@media screen and (max-width: 420px){
    
    .header{

        background-color: rgba(0, 0, 0, 0.507);
        width: 90%;
        height: 13%;
        
    }

}

@media screen and (max-width: 420px){
    
    .margin{

        margin-top: 800%;
    }
}

@media screen and (max-width: 420px){
    
    .list{
        margin-top: 120px;
        display: flex;
        list-style-type: none;
        padding-left: 5px;
    }
}

@media screen and (max-width: 420px){
    
    ul li{
        padding-left: 10px;
        color: grey;
        font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 9PX;
        
    }
}

@media screen and (max-width: 420px){
    
    .list2{
        margin-top: 30px;
        display: flex;
        list-style-type: none;
        padding-left: 5px;
        justify-content: center;
    }
}

@media screen and (max-width: 420px){
    
    .h1{
        color: white;
        padding-top: 10%;
        padding-left: 15px;
        font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
}

@media screen and (max-width: 420px){
    
    .column-img{
        column-count: 2;
        margin-left: 15px;
        margin-top: 5%;
    }
}

@media screen and (max-width: 420px){
    
    .img{
        height: 145px;
    }
}   