*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.web-app{
    
    height: 100vh;
}

.web-app_top{
    background-color: #262e35;
    height: calc(100% -100px);
    display: flex;
    height: 100vh;
}

.aside{
    background-color: black;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    
}


.logo-spotify{
    display: none;
}

.main{
    background-color: rgb(48, 42, 42);
    width: 95%;
    overflow-y: auto;
    
}


.overflow{
    overflow-y: auto;
}

.cta{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    height: 20px;
    width: 90.5%;
    text-align: right;
    padding: 30px 20px 50px 0;
}


.cta-button{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.cta:hover{
    cursor: pointer;
    
}

.web-app_bottom{
    background-color: #282828;
    height: 100px;
    
}

.icon{
    margin-top: 20px;
    height: 24px;
    margin-left: -5px;
    color: rgb(194, 194, 194);
}

.testo-lista{
    color: white;
    text-decoration: none;
    display: inline block;
    display: none;
    
} 


.overflow ul li{
    color:rgb(194, 194, 194);
    display: none;
}

.logo-sp{
    margin-top: 10px;
    height: 30px;
    margin-left: 7px;
}

.aside-margin{
    margin-top: 520px;
}

.overflow ul li{
    font-size: 15px;
    margin-top: 15px;
    margin-left: -10px;
}

.center{
    margin-left: 5px;
    
}

.download{
    width: 25px;
    color: rgb(179, 179, 179);
}


.profile{
    width: 25px;
    background-color: rgb(179, 179, 179);
    border-radius: 50%;
}

.margin{
    margin-top:30px ;
}

#profile{
    
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
}

.list{
    margin-top: 120px;
    display: flex;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
}


ul li:hover{
    color: rgb(228, 228, 228);
    cursor: pointer;
}

ul li{
    padding-left: 15px;
    color: grey;
    font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 9PX;
    
}

.just-center{
    justify-content: center;
}

.list2{
    margin-top: 30px;
    display: flex;
    list-style-type: none;
    padding-left: 5px;
    justify-content: center;
}

.h1{
    color: white;
    padding-top: 35px;
    padding-left: 15px;
    font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.img{
    height: 150px;
}

.img:hover{
    cursor: pointer;
}

.img-pos{
    margin-top: 15px;
    margin-left: 7px;
    width: 173px;
}

.titolo{
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}


.titolo:hover{
    cursor: pointer;
}

.flex{
    display:flex ;
}

.column{
    column-count: 2;
}

.margin-img{
    margin-top: 16px;
}

.subtitle{
    color: rgb(167, 167, 167);
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sottotitolo{
    color: rgb(167, 167, 167);
    font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-left: 15px;
    margin-top: 5px;
}

.radius{
    border-radius: 50%;
}

/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

.footer-img{
    height: 40px;
}

.align{
    margin-top: 25px;
    margin-left: 10px;
    
}

.inline{
    display: inline-block;
    
}

.sinister{
    position: absolute;
    color: white;
    margin-top: -45px;
}

.brano{
    position: absolute;
    color: rgb(150, 150, 150);
    margin-top: -30px;
}

.nome{
    position: absolute;
    color: rgb(150, 150, 150);
    margin-top: -15px;
}

.fa-heart{
    color: white;
    height: 50px;
}

.central-footer{
    display: flex;
    justify-content: center;
    width: 160px;
    margin-left: 150px;
    margin-top: -55px;
    font-size: 17px;
    justify-content: space-between;
    color: white;

}

.color{
    color: white;
    font-size: 12px;
    margin-top: 19px;
}

.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 7px;
    margin-left: 15px;
}

.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 40%;
    background-color: #ccc4;
    margin-top: 25px;
}

.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
}


.progress:hover{
    background-color: #2d5;
    cursor: pointer;
}

.fa-share{
    color: rgb(206, 206, 206);
}

.fa-share:hover{
    color: white;
    cursor: pointer;
}

.fa-backward-step{
    color: rgb(206, 206, 206);
}

.fa-backward-step:hover{
    color: white;
    cursor: pointer;
}

.fa-play{
    color: rgb(206, 206, 206);
}

.fa-play:hover{
    color: white;
    cursor: pointer;
}

.fa-forward-step{
    color: rgb(206, 206, 206);
}

.fa-forward-step:hover{
    color: white;
    cursor: pointer;
}

.fa-rotate-right{
    color: rgb(206, 206, 206);
}

.fa-rotate-right:hover{
    color: white;
    cursor: pointer;
}


.fa-heart{
    position: absolute;
    margin-left: 55px;
    margin-top: -31px;
    height: 15px;
    color:rgb(206, 206, 206) ;
}


.fa-heart:hover{
    color: red;
    cursor: pointer;
}

.fa-volume-high{
    position: absolute;
    right: 5%;
    margin-top: -39px;
    color: rgb(206, 206, 206);
}


.fa-volume-high:hover{
    cursor: pointer;
    color: white;
}

.fa-desktop{
    position: absolute;
    right: 13%;
    margin-top: -39px;
    color: rgb(206, 206, 206);
}

.fa-desktop:hover{
    cursor: pointer;
    color: white;
}


.none{
    display: none ;
}


.aside-overflow{
    overflow-y: auto;
    display: none;
}


.app{
    display: none;
}

.doe{
    display: none;
}


.hr{
    display: none;
}

@media screen and (min-width: 426px){
    .main{
        width: 95%;
        overflow-y: auto;
        background-color: rgb(48, 42, 42);
        width: 90%;
        
    }

    .img{
        height: 230px;
    }

    .aside{
        background-color: black;
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        
    }

    .logo-spotify{
        margin-top: 10px;
        margin-left: 10px;
        display: block;
    }

    .logo-sp{
        display: none;
    }

    .cta{
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 15px;
        height: 20px;
        width: 77%;
        text-align: right;
        padding: 30px 20px 50px 0;
    }
    
    .testo-lista{
        color: white;
        text-decoration: none;
        display: block;
        font-size: 17px;
        
    } 

    
    .playlist{
        display: block;
    }
    .column{
        column-count: 2;
    }
    
    .central-footer{
        display: flex;
        justify-content: center;
        width: 250px;
        margin-left: 280px;
        margin-top: -55px;
        font-size: 23px;
        justify-content: space-between;
        color: white;
    
    }
    .playlist{
        color: white;
        font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; 

    }

    
    .fa-square-plus{
        color: rgb(99, 99, 99);
        font-size: 45px;
        margin-top: 40px;
    }

    
    .aside-div{
        margin-left: 18px;
        margin-top: 20px;
    }

    .aside-overflow{
        overflow-y: auto;
    }

    .overflow ul li{
        color:rgb(194, 194, 194);
        display: block;
    }

    .subtitle{
        color: rgb(167, 167, 167);
        text-align: center;
        font-size: 13px;
        margin-top: 5px;
        font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin-left: 60px;
    }
    

    
    .overflow ul li{
        margin-left: -25px;
    } 

    ul li{
        padding-left: 25px;
        color: grey;
        font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 9PX;
        
    }

    .aside-margin{
        margin-top: 120px;
        margin-left: 17px;
    }

    .download{
        width: 25px;
        color: rgb(179, 179, 179);
    }
    
    
    .profile{
        width: 25px;
        background-color: rgb(179, 179, 179);
        border-radius: 50%;
        margin-top: 10px;
    }

    
    .app{
        color: rgb(131, 131, 131);
        font-size: 13px;
        display: block;
    }

    
    .hr{
        width: 85%;
        margin-left: 10px;
        margin-top: 5px;
        display: block;
    }

    .doe{
        color: white;
        font-size: 20px;
        display: block;
    }

    
}  

    /*

    .fa-heart{
        position: absolute;
        margin-left: 70px;
        margin-top: -27px;
    }

    .progress-bar{
        height: 4px;
        border-radius: 10px;
        width: 50%;
        background-color: #ccc4;
        margin-top: 25px;
    }

    .img-pos{
        margin-top: 15px;
        margin-left: 7px;
        width: 50%;
    }
    
}

